[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"
grpcio-tools = "==1.43.0"
grpcio = "==1.43.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.11"
click = "==8.0.3"
idna = "==3.3"
itsdangerous = "==2.0.1"
protobuf = "==3.19.4"
six = "==1.16.0"
urllib3 = "==1.26.8"
Flask = "==2.0.2"
Flask-Cors = "==3.0.10"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"

[dev-packages]

[requires]
python_version = "3.8"
