[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
grpcio-tools = "*"
grpcio = "*"

[dev-packages]

[requires]
python_version = "3.8"
