apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-service-deploy
spec:
  selector:
    matchLabels:
      app: data-service
  replicas: 3
  template:
    metadata:
      labels:
        app: data-service

    spec:
      containers:
      - name: data-service
        imagePullPolicy: Always
        image: neoairavataproject/data-service:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 8082
      restartPolicy: Always
