<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/signin" (click)="onSidenavClose()">
        <mat-icon>login</mat-icon> <span class="nav-caption">Sign In</span>
    </a>
    <mat-list-item *ngIf="(isAuthenticated$ | async)" [matMenuTriggerFor]="dashboardMenu">
        <mat-icon>dashboard</mat-icon>
        <a matline>Dashboard</a>
    </mat-list-item>
    <mat-menu #dashboardMenu="matMenu">
        <button mat-menu-item (click)="navigateToNexrad()">
            NEXRAD Dashboard
        </button>
        <button mat-menu-item (click)="navigateToNasa()">
            NASA Dashboard 
        </button>
    </mat-menu>
    <mat-list-item *ngIf="(isAuthenticated$ | async)" [matMenuTriggerFor]="menu">
        <mat-icon>account_box</mat-icon>
        <a matline>User</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToHistory()">
            <mat-icon>history</mat-icon>View history
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>Logout
        </button>
    </mat-menu>
</mat-nav-list>