apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-service-deploy
spec:
  selector:
    matchLabels:
      app: database-service
  replicas: 1
  template:
    metadata:
      labels:
        app: database-service

    spec:
      containers:
      - name: database-service
        env:
          -
            name: MONGO_URL
            valueFrom:
              secretKeyRef:
                name: mongo-creds
                key: mongo-url
        imagePullPolicy: Always
        image: neoairavataproject/database-service:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 40000
      restartPolicy: Always
